---
import SaintVeCountdown from "@/components/saint-ve-countdown/SaintVeCountdown";
import MonogramBanner from "../shared/MonogramBanner.astro";
import styles from "./Home.module.css";
import { activityService } from "@/lib/services/activities";
import { getLocale } from "@/lib/utils";
import ActivityItem from "./ActivityItem.astro";
import { websiteRoutes } from "@/lib/oldRoutes";

const activities = await activityService.fetchActivityPage(
  new URLSearchParams([
    ["dateAfter", new Date().toJSON()],
    ["size", String(2)],
  ]),
);
const locale = getLocale(Astro.request);
---

<main class={styles.contentContainer}>
  <MonogramBanner>
    <div class={styles.introText}>
      <h1>'t VAT</h1>
      <h2>Pro ambiantia et joewissantia</h2>
    </div>
  </MonogramBanner>
  <div class={styles.homepageContentContainer}>
    <div class={styles.content}>
      <div class={styles.contentHeaderContainer}>
        <h2>Opkomende</h2>
        <h2>Activiteiten</h2>
      </div>
      <div class={styles.activityList}>
        {
          activities.content.map((a) => (
            <ActivityItem activity={a} locale={locale} />
          ))
        }
      </div>
      <a class={styles.allActivitiesLink} href={websiteRoutes.kalender.url}
        >Meer activiteiten</a
      >
    </div>
    <div class={styles.content}>
      <div class={styles.contentHeaderContainer}>
        <h2>Saint-Vé</h2>
      </div>
      <div class={styles.countdownContainer}>
        <SaintVeCountdown client:idle />
      </div>
    </div>
  </div>
</main>
