---
const { authService } = await import("@/lib/services/auth");
import styles from "./Navigation.module.css";
import { ROUTES } from "@/lib/routes";
import { latestTerm } from "@/lib/cache/boardYears";

const loggedIn = (await authService.authenticate(Astro.request.headers))
  ? true
  : false;
---

<nav class={styles.navContainer}>
  <input type="checkbox" id="nav-toggle" class={styles.navToggle} />
  <label for="nav-toggle" class={styles.navToggleLabel}>
    <svg width="30" height="30" viewBox="0 0 30 30">
      <path
        class={styles.line1}
        d="M5 7h20"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"></path>
      <path
        class={styles.line2}
        d="M5 15h20"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"></path>
      <path
        class={styles.line3}
        d="M5 23h20"
        stroke="black"
        stroke-width="3"
        stroke-linecap="round"></path>
    </svg>
  </label>
  <ul class={styles.navList}>
    <li>
      <a class={styles.navLink} href={ROUTES.HOME.url}>Home</a>
    </li>
    <li>
      <input
        type="checkbox"
        id="about-us-toggle"
        class={styles.dropdownToggle}
      />
      <label for="about-us-toggle" class={styles.dropdownToggleLabel}>
        <a>Over ons</a>
      </label>
      <ul>
        <li>
          <a class={styles.navLink} href={ROUTES.ABOUT_US.url}>Over ons</a>
        </li>
        <li>
          <a class={styles.navLink} href={`${ROUTES.BOARD.url}/${latestTerm}`}
            >Bestuur</a
          >
        </li>
        <li>
          <a class={styles.navLink} href={ROUTES.CLUBSONG.url}>Clublied</a>
        </li>
      </ul>
    </li>
    <li>
      <a class={styles.navLink} href={ROUTES.CONTACT.url}> Contact </a>
    </li>
    <!--
    <li>
      <a class={style.navLink} href={websiteRoutes.activities.url}>Kalender</a>
    </li>
    -->
    <li>
      <a class={styles.navLink} href={ROUTES.KRAMBAMBOULI.url}>Krambambouli</a>
    </li>
    <!-- <li>
      <a
        href={[
          websiteRoutes.activities.url,
          websiteRoutes.activities.lustrumgala.url,
        ].join("")}>Lustrumgalabal</a
      >
      -->
    <li class={styles.navlink}>
      <a class={styles.navLink} href={ROUTES.CODEX.url}>Codex challenge</a>
    </li>
    <li>
      {
        loggedIn ? (
          <a class={`${styles.navLink} authLink`} href={ROUTES.LOGOUT.url}>
            Logout
          </a>
        ) : (
          <a class={`${styles.navLink} authLink`} href={ROUTES.LOGIN.url}>
            Login
          </a>
        )
      }
    </li>
  </ul>
</nav>
