---
import { compareBoardRoles } from "../../lib/board/board-role";
import { BoardYear } from "../../lib/board/board-year";
import BoardMemberComponent from "../board/board-member/BoardMemberComponent.astro";
import styles from "./Board.module.css";

interface Props {
  boardYear: BoardYear;
  previousTerm?: string;
  nextTerm?: string;
}
const { boardYear, nextTerm, previousTerm } = Astro.props;
boardYear.boardMembers.sort((a, b) => {
  const r = compareBoardRoles(a.boardRole, b.boardRole);
  if (r === 0) return a.name.localeCompare(b.name);
  else return r;
});
const isLastTerm = !previousTerm;
const isFirstTerm = !nextTerm;
const navigatinContainerStyle = isFirstTerm
  ? styles.flexEnd
  : isLastTerm
    ? styles.flexStart
    : styles.spaceBetween;

const boardSize = boardYear.boardMembers.length;
// TODO: Wrap this component in a <main> and move the styles to a css file.
// Adapt the styles accordingly as introducting main fucks up with the
// spacing
---

<main>
  <h1 class={styles.term}>{boardYear.term}</h1>
  <div
    class=`${styles.boardyearsNavigationContainer} ${navigatinContainerStyle}`
  >
    {
      !isFirstTerm && previousTerm && (
        <a class={styles.boardyearsNavigation} href={nextTerm}>
          <span class={`${styles.arrow} ${styles.previous}`}>{nextTerm}</span>
        </a>
      )
    }
    {
      !isLastTerm && (
        <a class={styles.boardyearsNavigation} href={previousTerm}>
          <span class={`${styles.arrow} ${styles.next}`}>{previousTerm}</span>
        </a>
      )
    }
  </div>
  <div
    class={`${styles.boardContainer} ${boardSize === 1 ? styles.single : styles.multiple}`}
  >
    {
      boardYear.boardMembers.map((m, index) => (
        <BoardMemberComponent
          boardMember={m}
          term={boardYear.term}
          index={index}
        />
      ))
    }
  </div>
</main>
