---
import { compareBoardRoles } from "../../lib/board/board-role";
import { BoardYear } from "../../lib/board/board-year";
import BoardMemberComponent from "../board/board-member/BoardMemberComponent.astro";

interface Props {
  boardYear: BoardYear;
  previousTerm?: string;
  nextTerm?: string;
}
const { boardYear, nextTerm, previousTerm } = Astro.props;
boardYear.boardMembers.sort((a, b) => {
  const r = compareBoardRoles(a.boardRole, b.boardRole);
  if (r === 0) return a.name.localeCompare(b.name);
  else return r;
});
const isLastTerm = !previousTerm;
const isFirstTerm = !nextTerm;
const navigatinContainerStyle = isFirstTerm
  ? "flex-end"
  : isLastTerm
    ? "flex-start"
    : "space-between";

const boardSize = boardYear.boardMembers.length;
// TODO: Wrap this component in a <main> and move the styles to a css file.
// Adapt the styles accordingly as introducting main fucks up with the
// spacing
---

<!-- <main> -->
<h1 class="term">{boardYear.term}</h1>
<div class=`boardyears-navigation-container ${navigatinContainerStyle}`>
  {
    !isFirstTerm && previousTerm && (
      <a class="boardyears-navigation" href={nextTerm}>
        <span class="arrow previous">{nextTerm}</span>
      </a>
    )
  }
  {
    !isLastTerm && (
      <a class="boardyears-navigation" href={previousTerm}>
        <span class="arrow next">{previousTerm}</span>
      </a>
    )
  }
</div>
<div class={`board-container ${boardSize === 1 ? "single" : "multiple"}`}>
  {
    boardYear.boardMembers.map((m, index) => (
      <BoardMemberComponent
        boardMember={m}
        term={boardYear.term}
        index={index}
      />
    ))
  }
</div>
<style>
  .board-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    margin: 0 auto;
    row-gap: 2rem;
    align-items: end;
  }

  @media (min-width: 768px) {
    .multiple {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .single {
    place-content: center;
  }

  .term {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .boardyears-navigation-container {
    display: flex;
    margin-top: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  .boardyears-navigation {
    text-decoration: none;
    color: black;
    position: relative;
  }

  .previous::after {
    content: "";
    position: absolute;
    padding: 0.5rem;
    top: 0;
    right: -10px;
    top: 0;
    width: 0;
    height: 0;
  }

  .arrow {
    display: inline-block;
    background: #0078ff;
    position: relative;
    padding: 0.7rem;
    background-color: purple;
    color: yellow;
  }
  .next {
    border-radius: 3px 0 0 3px;
  }

  .previous {
    border-radius: 0 3px 3px 0;
  }

  .previous::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid purple;
  }

  .next::after {
    content: "";
    position: absolute;
    right: -1.5rem;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 2rem solid purple;
  }

  .space-between {
    justify-content: space-between;
  }

  .flex-start {
    justify-content: flex-start;
  }

  .flex-end {
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    .board-container {
      column-gap: 5rem;
    }
  }

  @media (min-width: 1024px) {
    .board-container {
      column-gap: 7rem;
    }
  }
  .arrow-link {
    display: inline-block;
    text-decoration: none;
  }
</style>
<!-- </main> -->
