---
import Vatschild from "@/svgs/Vatschild.astro";
import SaintVeCountdown from "../saint-ve-countdown/SaintVeCountdown";
import { readFileSync } from "fs";
import Monogram from "@/svgs/Monogram.astro";
import { Activity, type ActivityInterface } from "@/lib/activity";
import style from "./Home.module.css";
import { activityService } from "@/lib/services/activities";

const activities = activityService.getFutureActivities();

const rawActivities: ActivityInterface[] = JSON.parse(
  readFileSync("./public/activities.json", "utf-8"),
);
const activitiesList = rawActivities.map(
  (a) =>
    new Activity(a.name, a.location, new Date(a.date), undefined, undefined),
);

const now = new Date();
const strippedDate = new Date(now.getFullYear(), now.getMonth(), now.getDate());
const filteredActivitiesList = activitiesList.filter(
  (activity) => activity.date.getTime() > strippedDate.getTime(),
);

function formatActivityDate(activity: Activity) {
  // TODO: Refactor this shit, integrate it with the activity class or
  // something idk
  const date = activity.date;
  const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
  const months = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
  ];

  const dayName = days[date.getDay()];
  const dayNumber = date.getDate(); // no leading zero
  const monthName = months[date.getMonth()];
  const year = date.getFullYear();

  const hours = date.getHours();
  const minutes = date.getMinutes().toString().padStart(2, "0");

  return `${dayName} ${dayNumber} ${monthName} ${year} ${hours}:${minutes}`;
}
---

<main>
  <div class={style.introBanner}>
    <div>
      <div class={style.monogramContainer}>
        <Monogram />
      </div>
    </div>
    <div class={style.introText}>
      <h1>'t VAT</h1>
      <h2>Pro ambiantia et joewissantia</h2>
    </div>
  </div>
  <div class={style.homepageContentContainer}>
    <div>
      <h3>Activiteiten</h3>
      <ul class={style.activityList}>
        {
          activitiesList.map((a, i) => (
            <li>
              <p>{`Activity: ${i}`}</p>
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <h3>Saint-Vé</h3>
      <SaintVeCountdown client:idle />
    </div>
  </div>
</main>
