---
import SaintVeCountdown from "../saint-ve-countdown/SaintVeCountdown";
import Monogram from "@/svgs/Monogram.astro";
import Banner from "./Banner.astro";
import MonogramBanner from "./MonogramBanner.astro";
import style from "./Home.module.css";
import { activityService } from "@/lib/services/activities";
import { getLocale } from "@/lib/utils";
import Activity from "@/components/web/Activity.astro";
import { websiteRoutes } from "@/lib/oldRoutes";

const activities = await activityService.fetchActivityPage(
  new URLSearchParams([
    ["dateAfter", new Date().toJSON()],
    ["size", String(2)],
  ]),
);
const locale = getLocale(Astro.request);
---

<main>
  <MonogramBanner>
    <div class={style.introText}>
      <h1>'t VAT</h1>
      <h2>Pro ambiantia et joewissantia</h2>
    </div>
  </MonogramBanner>
  <div class={style.homepageContentContainer}>
    <div class={style.content}>
      <div class={style.contentHeaderContainer}>
        <h2>Opkomende</h2>
        <h2>Activiteiten</h2>
      </div>
      <div class={style.activityList}>
        {
          activities.content.map((a) => (
            <Activity activity={a} locale={locale} />
          ))
        }
      </div>
      <a class={style.allActivitiesLink} href={websiteRoutes.kalender.url}
        >Meer activiteiten</a
      >
    </div>
    <div class={style.content}>
      <div class={style.contentHeaderContainer}>
        <h2>Saint-Vé</h2>
      </div>
      <div class={style.countdownContainer}>
        <SaintVeCountdown client:idle />
      </div>
    </div>
  </div>
</main>
