---
import type { BoardMember } from "../../../lib/board/board-member";
import "./board-member.css";
import { access } from "fs/promises";

interface Props {
  boardMember: BoardMember;
  term: string;
  last?: boolean;
}
export function removeAccents(str: string): string {
  return str
    .normalize("NFD") // Split letters and diacritics (e.g. "é" → "é")
    .replace(/[\u0300-\u036f]/g, ""); // Remove all combining marks
}
const { boardMember, term } = Astro.props;
const src = `/board/${term}/${removeAccents(boardMember.name.toLowerCase()).replaceAll(" ", "-")}`;
const pngPath = `./public${src}.png`;
const jpgPath = `./public${src}.jpg`;
async function fileExists(path: string): Promise<boolean> {
  try {
    await access(path);
    return true;
  } catch {
    return false;
  }
}
const [pngExists, jpgExists] = await Promise.all([
  fileExists(pngPath),
  fileExists(jpgPath),
]);
---

<div class="board-member">
  <h2 class="board-role">{boardMember.boardRole}</h2>
  <picture>
    {pngExists && <source srcset={src + ".png"} type="image/png" />}
    <img
      src={src + ".jpg"}
      alt={jpgExists
        ? boardMember.name + "'s foto"
        : "Gebrek aan " + boardMember.name + "'s foto"}
    />
  </picture>
  <p>{boardMember.name}</p>
</div>
