---
import Navigation from "@/components/shared/Navigation.astro";
import { Mail } from "lucide-react";
import Facebook from "@/svgs/Facebook.astro";
import Instagram from "@/svgs/Instagram.astro";
interface Props {
  title: string;
}
import style from "./Layout.module.css";
import Vatschild from "@/svgs/Vatschild.astro";
import { websiteRoutes } from "@/lib/oldRoutes";
const { title } = Astro.props;
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Gérard Lichtert" />
    <meta name="description" content="Website van de studentenkring 't VAT" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <header class={style.header}>
      <div class={style.logo}>
        <a href={websiteRoutes.home.url}>
          <Vatschild />
        </a>
      </div>
      <Navigation />
    </header>
    <slot />
    <footer>
      <div>
        <h2>'t VAT Brussel</h2>
      </div>
      <div class={style.socialsContainer}>
        <a href="https://www.facebook.com/tvatbrussel/">
          <Facebook />
        </a>
        <a href="https://www.instagram.com/tvat_brussel/?hl=en">
          <Instagram />
        </a>
        <a href="mailto:tvatinfo@gmail.com">
          <Mail />
        </a>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  * {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
</style>
